@model YourTV_WEB.Models.PlaylistConcreteViewModel

<div class="modal-content">
    <div class="modal-header">
        <input type="button" class="close" data-dismiss="modal" value="X" />
        <h4>Adding playlist</h4>
    </div>
    <div class="modal-body">
        @using (@Html.BeginForm("AddingPlaylist", "Playlist", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <p class="text-info">Name</p>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control modal-input", @name = "Name" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @name = "Name" })
                    <p class="text-info">Description</p>
                    <textarea class="form-control modal-input" name="Description"></textarea>
                    <input type="submit" class="modal-input btn-default" value="Create" />
        }
    </div>
</div>

