[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
**/[Ss]cripts/jquery*.js
**/[Ss]cripts/bootstrap*.js

**/[Ss]cripts/jquery*.map
**/[Ss]cripts/modernizr*.js
**/[Ss]cripts/_reference*.js
**/[Ss]cripts/respond*.js


ConsoleDalTest/

*.nupkg

**/packages/*
!**/packages/build/
