@model IEnumerable<YourTV_WEB.Models.VideoViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to YourTV</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <a href=@Url.Action("VideoConcrete", "Video", new { videoId = item.Id } )>
                <div class="col-md-3">
                    <img class="video-image" src="~/Content/Images/DefaultVideo.png" alt="@item.Name" />
                    <p>@item.Name</p>
                </div>
            </a>
        }
    </div>
</div>
