@model YourTV_WEB.Models.VideoViewModel

<style>
    .invisible{
        display: none;
    }
    .visible{
    }
</style>
<p class="invisible" id="like-state">@Model.Liked</p>
<input type="image" id="empty-like" name="submit" src="~/Content/Images/LikeEmpty.png" border="0" alt="Submit" />
<input type="image" id="full-like" name="submit" src="~/Content/Images/LikeFull.png" border="0" alt="Submit" />

@Scripts.Render("~/bundles/jquery")

<script>
    if ($("#like-state").text === "true"){
        $("#full-like").removeClass("invisible");
        $("#empty-like").addClass("invisible");
    }
    else{
        $("#full-like").addClass("invisible");
        $("#empty-like").removeClass("invisible");
    }

    function toggle_like() {
        $("#empty-like").click(function () {
            $("#empty-like").toggleClass("invisible");
            $("#full-like").toggleClass("invisible");
        });
    }
</script>
